name: infrapipeline

trigger: none

pool:
  name: infra_pipeline_3012

stages:
  - stage: init_validate_plan
    jobs:
      - job: 
        displayName: init_validate_plan
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
          displayName: terraforminstall
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
            backendServiceArm: 'infra_pipeline_3012_serviceconnection'
            backendAzureRmStorageAccountName: 'infrapipeline3012'
            backendAzureRmContainerName: 'infrapipeline3012'
            backendAzureRmKey: 'terraform.tfstate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
            environmentServiceNameAzureRM: 'infra_pipeline_3012_serviceconnection'

  - stage: scanning 
    jobs:
      - job: 
        displayName: tfsec
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
  - stage: costoptimization
    jobs:
      - job: 
        displayName: costoptimizationjob
        steps:
        - powershell: |
            iwr https://infracost.io/downloads/latest/infracost-windows-amd64.zip -OutFile infracost.zip
            Expand-Archive infracost.zip -DestinationPath .
            .\infracost.exe breakdown --path . --format table
          env:
            INFRACOST_API_KEY: "ico-OGKQstEE7TABhSe8FMvn0ZGRzEv5nihO"
          displayName: Infracost Cost Check