name: infrapipeline

trigger: none

pool:
  name: infra_pipeline_3012

stages:
  - stage: 
    jobs:
      - job: 
        displayName: init_validate_plan
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
          displayName: terraforminstall
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'infra_pipeline_3012_serviceconnection'
            backendAzureRmStorageAccountName: 'infrapipeline3012'
            backendAzureRmContainerName: 'infrapipeline3012'
            backendAzureRmKey: 'terraform.tfstate'
