name: infrapipeline

trigger:
- main
pool:
  name: infraassignment_agentpool

steps:

- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: '1.6.6'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
    backendServiceArm: 'infra_sc'
    backendAzureRmStorageAccountName: 'todostoragesantosh'
    backendAzureRmContainerName: 'todocontainer'
    backendAzureRmKey: 'dev.terraform.tfstate'

